.user-profile.user-profile-full
  .user-avatar
    = image_tag user.avatar.preview
  %section
    Email:
    = user.email
  %section
    First name:
    = user.first_name
  %section
    Last name:
    = user.last_name



