.category
  display: block
  border-radius: 6px
  border: 1px solid $dark-gray
  margin-bottom: 5px
  cursor: pointer
  @include transition(all 100ms ease-in-out)

  &:hover
    @include scale($scale-factor)

  .category-name
    padding: 1px 15px

  .category-icon
    background: $very-light-gray
    border-right: 1px solid $dark-gray
    i
      margin: 8px 30%


