.category
  display: block
  border-radius: 4px
  border: 1px solid $dark-gray
  margin-bottom: 5px

  .category-name
    font-size: 30px
    color: $very-dark-gray
    padding: 1px 15px
    border-left: 1px solid $dark-gray

  i
    margin: 8px 10px


