.form
  border: $form-border-width solid $form-border-color
  border-radius: $form-border-radius
  box-shadow: 4px 4px 10px 1px $black

  .checkbox label
    font-weight: bold

  .form-section:last-child
    border-bottom: none
    box-shadow: none

  .form-section
    border-bottom: $form-border-width solid $form-border-color
    box-shadow: 0px 2px 1px -1px $black
    padding: 15px 0px

    .form-group:first-child
      margin-top: 5px

    .form-group
      &.boolean
        margin-top: -20px
        margin-bottom: 0px

      &.buttons, &.shared-links
        margin-bottom: 0px

        & + .form-group.shared-links
          padding-top: 5px

        .devise-links a
          display: block
          color: $form-devise-link-color
          text-shadow: 1px 1px 2px $black
          font-weight: $font-weight-bolder
          font-style: italic
          font-size: $font-size + 0.4em
          @include transition(all 100ms ease-in-out)

          &:hover
            @include animation(shake 0.18s 2 ease-in)

  form
    label
      font-size: $font-size + 0.3em

  .title
    font-weight: $font-weight-bolder
    font-size: 24px
