body, html
  height: 100%

body
  background-image: $background-image
  background-attachment: fixed
  color: $font-color
  text-shadow: 1px 1px 1px $black
  font-family: $font-stack
  font-weight: $font-weight-thiner
  font-size: $font-size

  .overlay
    @include background-image(linear-gradient(to right, $body-background-side, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-side))
    position: fixed
    top: $navbar-heigth + $navbar-border-bottom-width
    height: 100%
    width: 100%
    z-index: -1

a:not(.btn)
  color: $font-color

  &:hover, &:visited, &:focus
    color: $font-color
    text-shadow: 0 2px 2px $black
    text-decoration: none

i
  margin-left: 2px
  margin-right: 4px

.btn
  text-transform: uppercase
  font-weight: $font-weight-bolder
  display: inline-block
  margin: -1px auto
  padding: 10px
  text-shadow: 1px 1px 1px $very-dark-gray
  min-width: $button-width-min

  i
    margin: 0

.content
  height: 100%
  padding-top: 60px
  width: $content-width

.title
  font-weight: $font-weight-bolder
  font-size: 28px
