body, html
  height: 100%

body
  padding-top: 60px
  background-image: url('background1.jpg')
  background-attachment: fixed

  color: $font-color
  text-shadow: 0 1px 1px #000
  font-family: $font-stack
  font-weight: $font-weight-bold
  font-size: $font-size

a
  color: $font-color

  &:hover
    color: $font-color
    text-shadow: 0 -2px -2px #000
    text-shadow: 0 2px 2px #000
    text-decoration: none

i
  margin-left: 2px
  margin-right: 4px

.devise-links
  a
    display: block

.content
  height: 100%

.form
  border: $form-border-width solid $form-border-color
  border-radius: $form-border-radius
  margin-top: 15px
  margin-bottom: 15px

  hr
    margin: 0 -15px
    border: 0
    height: 2px
    background: $form-border-color

  form
    padding: 15px 0px

    hr
      margin: 0 -30px
      margin-bottom: 15px
      border: 0
      height: 2px
      background: $form-border-color

    input.btn
      width: 100%


  .title
    padding: 20px 15px
    font-weight: $font-weight-bolder
    font-size: 24px


.text-box
  display: block
  background: $text-box-background-color
  border-radius: 4px
  margin-bottom: 5px
  padding: 2px

  hr
    margin: 0
    border: 0
    height: 1px
    @include background-image(linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)))

  .title
    margin: 2px
    padding: 2px

    h3
      margin: 0

  .body
    margin: 2px
    padding: 2px
    background: #FFFFFF
    border-style: solid
    border-width: 1px
    border-color: #DFDFDF
    border-radius: 4px
    min-height: 100px

