body, html
  height: 100%

body
  background-image: $background-image
  background-attachment: fixed
  color: $font-color
  text-shadow: 1px 1px 1px #000
  font-family: $font-stack
  font-weight: $font-weight-thiner
  font-size: $font-size

  .overlay
    @include background-image(linear-gradient(to right, $body-background-side, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-middle, $body-background-side))
    position: fixed
    top: $navbar-heigth + $navbar-border-bottom-width
    height: 100%
    width: 100%

a
  color: $font-color

  &:hover, &:visited, &:focus
    color: $font-color
    text-shadow: 0 2px 2px #000
    text-decoration: none

i
  margin-left: 2px
  margin-right: 4px

.btn
  margin-bottom: 10px

  *
    padding-right: 5px
    display: inline-block
    margin: -1px auto
    font-weight: $font-weight-bolder

    &:last-child
      padding-right: 0px

.devise-links
  a
    display: block

.content
  height: 100%
  padding-top: 60px
  width: $content-width

.title
  font-weight: $font-weight-bolder
  font-size: 28px
