=border-bottom-only($width)
  border-width: 0px 0px $width 0px !important

=border
  border: $border-width solid $border-color
  border-radius: $border-radius

=border-hover($hover-border-color)
  border: $border-width solid $border-color
  border-radius: $border-radius
  box-shadow: 1px 1px 4px 1px $black

  @include transition(all 100ms ease-in-out)

  &:hover
    border: $border-width solid $hover-border-color
    box-shadow: 2px 2px 10px 2px $black

=avatar-fixed-size($size, $border-width)
  width: $size + 2*$border-width !important
  height: $size + 2*$border-width !important
  position: relative
  display: inline-block

  img
    margin: auto
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
