.navbar
  border-bottom: 4px solid rgba(0,0,0,.15)
  z-index: 4

  *
    z-index: 4

  &::after, &::before
    position: absolute
    top: 0
    left: 0
    width: 100%

  &::after
    background-color: $navbar-background-color
    z-index: 3
    height: $navbar-heigth + 1px

  &::before
    background-image: inherit
    height: $navbar-heigth
    z-index: 2

  ul.nav > li
    @include transition(all 100ms ease-in-out)
    color: $navbar-link-color

    > a
      color: $navbar-link-color
      font-size: $navbar-font-size
      font-weight: $font-weight-thin

    &:hover, &.open
      border-bottom: 4px solid $navbar-link-border-hover
      margin-bottom: -4px

      > a
        background-color: $navbar-link-background-hover


  .avatar
    width: 40px
    height: 40px
    margin: 1% 1px
    background: $light-gray

  ul.dropdown-menu a
    color: #000
    font-weight: $font-weight-thin
    text-shadow: none
    font-size: $navbar-font-size -2em






