.navbar
  border-bottom: 4px solid rgba(0,0,0,.15)
  height: $navbar-heigth + 5px
  background-color: $navbar-background-color

  ul.nav > li
    @include transition(all 100ms ease-in-out)
    color: $navbar-link-color

    > a
      color: $navbar-link-color
      font-size: $navbar-font-size
      font-weight: $font-weight-thin

    &:hover, &.open
      border-bottom: 4px solid $navbar-link-border-hover
      margin-bottom: -5px

      > a
        background-color: $navbar-link-background-hover

  .dropdown-toggle
    padding: 0 15px
    height: $navbar-heigth

    *
      margin: auto 0

    .avatar
      border: $avatar-border-width solid $avatar-border-color
      border-radius: $border-radius
      margin: ($navbar-heigth - $avatar-size - 2*$avatar-border-width)/2 5px
      display: inline-block
      box-shadow: 1px 1px 1px 1px #000

  ul.dropdown-menu a
    color: #000
    font-weight: $font-weight-thin
    text-shadow: none
    font-size: $navbar-font-size - 0.9em






