.user-profile
  .avatar
    border: $avatar-border-width +3px solid #244377
    background-color: #244377
    border-radius: $border-radius
    margin: ($navbar-heigth - $avatar-size - 2*$avatar-border-width)/2 10px
    display: inline-block
    box-shadow: 1px 1px 1px 1px #000

    img
      width: $avatar-size !important
      height: $avatar-size !important
  p
    margin: auto 0px
