$light-blue:  #B6E0FF
$dark-blue:   #6DD1FF

$very-light-gray: #E7E7E7
$light-gray: #E0E0E0
$dark-gray:  #BABABA

$light-green: #62FF3A
$dark-green: #26B300
$very-light-green: #9DFF8C


$body-background:           #FCFFE6
$content-background:        #F1F5D5

$text-box-background-color: $light-blue

$navbar-background-color:   $very-light-gray
$navbar-link-border:        $light-gray
$navbar-link-border-hover:  $dark-gray

$border-radius: 4px
