$background-image: url("background-blue.jpg")

$border-color: #FFFFFF
$star-color: #FFE000
$star-color-dark: #FFEA4C
$max-transparent-background: rgba(0,0,0,0)
$transparent-background: rgba(0,0,0,.2)
$dark-transparent-background: rgba(0,0,0,.4)

$border-radius: 3px
$border-width: 1px
$scale-factor: 1.015
$small-margin: 5px
$medium-margin: 10px
$big-margin: 20px

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$font-color: #fff
$font-size: 1.05em
$font-weight-thiner: 300
$font-weight-thin: 500
$font-weight-bold: 700
$font-weight-bolder: 900

$body-background:           #FCFFE6
$content-background:        #F1F5D5

$text-box-background-color: $dark-transparent-background
$text-box-border-radius: $border-radius

$navbar-heigth: 50px
$navbar-background-color:   rgba(255,255,255,1)
$navbar-font-size: $font-size+1em
$navbar-link-color:        #fff
$navbar-link-background-hover:        rgba(255,255,255,0.2)
$navbar-link-border:        $light-gray
$navbar-link-border-hover:  #fff

$avatar-size: 40px
$avatar-border-width: $border-width
$avatar-border-color: #fff

$form-border-color: $border-color
$form-border-width: 2px
$form-border-radius: $border-radius
